/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: #b5b4b4;
  }
  
  /* Estilos del contenedor principal */
  .container {
    width: 60%;
    height: auto;
    background-color: #24db86;
  }
  
  /* Estilos del menú de navegación */
  .nav {
    background-color: #6de4ac;
    grid-area: nav;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-bottom: 20px;
    color: rgb(123, 122, 122);
    
  }

  .fa-paw{
    font-size: 30px;
  }
  
  .nav-logo {
    font-weight: lighter;
    font-size: 30px;
    margin-left: 10px;
  }
  
  .contenido{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tarjeta {
    background-color: #6de4ac;
    width: 60%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(123, 122, 122);
    text-decoration: none;
}


#carouselExampleControls{
  margin-top: 2%;
}


  /* Estilos del pie de página */
  .foot {
    grid-area: foot;
    background-color: #6de4ac;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding: 10px;
    color: rgb(123, 122, 122);
  }

  .fa-brands, .fa-envelope{
    font-size: 30px;
    margin-right: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }
  
 a{
  text-decoration: none;
  color: gray;
  display: flex;
 
 }
  
 